
.icon-download:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-user-add:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e803'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */
